.DS_Store

# root
*.class
*.csv
*.log
.bloop
.idea
.metals
target
.devcontainer

# project
api/project
commons/project
dbFiller/project
project/project
trainer/project

#target
api/target
commons/target
dbFiller/target
project/target
trainer/target

# shared
shared/postgres-data/data
!shared/postgres-data/migrations
shared/trainer-data
shared/*.csv
