# root
*.class
*.csv
*.log
.bloop
.idea
.metals
project
target
.devcontainer

# dbFiller
dbFiller/target

# shared
shared/postgres-data
!shared/postgres-data/migrations
shared/trainer-data
shared/*.csv
